<main>
    <section class="tienda">
        <div class="container">
            <h2 class="enfocarTexto">Nuestra Tienda</h2>
            <div class="row deslizarArriba">
                {{#each productos}}
                <div class="col-md-4">
                    <div class="caja">
                        <img src="{{this.imagen}}" alt="{{this.nombre}}" class="img-fluid">
                        <h3>{{this.nombre}}</h3>
                        <p>{{this.descripcion}}</p>
                        <p class="precio">$ {{this.precio}}</p>
                        <a href="#" class="btn btn-primary">Agregar al Carrito</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</main>